$color-primary: #007ac8;
$color-default: #777;
$white: #fff;
$black: #222;
$gray: #e4e4e4;
$gray2: #999;
$gray3: #aaa;
$gray4: #d8d8d8;
$gray5: #e7eaed;
$grayLight: #dfdfdf;
$grayLight2: #f2f4f7;
$grayLight3: #bbb;
$skyBule: #edf3ff;
$skyBule2: #00a8e8;
$darkBule: #154774;
$yellow: #e6c50e;
$yellow2: #f4b334;
$navy: #344154;
$red: #d70d0d;
$green: #37b42d;
$purple: #893bb6;

$main-width: 100%;
$section-width: 1240px;
$etc-width: 820px;
$etc-width2: 930px;